@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header .left-links{
  display: flex;
  gap: 16px;
}

.header .right-links{
  display: flex;
  gap: 16px;
  margin-right: 20px;
}

ul{
  list-style-type: none;
}
a{
  text-decoration: none;
  color: #7e7878;
}

.content{
  text-align: center;
}

.content .buttons{
  gap: 20px;
}


img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

.footer{
  display: flex;
  justify-content: space-between;
  background-color: #eee;
}

.footer .left-links{
  display: flex;
  gap: 16px;
}

.footer .right-links{
  display: flex;
  gap: 16px;
  margin-right: 20px;
}
